<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softsquared.letslistenbymakeus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".src.howtoenter.host.setbackgroundmusic.roomname.RoomName"></activity>
        <activity android:name=".src.howtoenter.host.setbackgroundmusic.setBackgroundMusic" />
        <activity
            android:name=".src.howtoenter.guest.RoomCode"
            android:theme="@style/Theme.MyDialog" />
        <activity android:name=".src.howtoenter.host.playlist.PlayList" />
        <activity android:name=".src.howtoenter.HowToEnter" />
        <activity android:name=".src.inputnickname.InputnickName" />
        <activity android:name=".src.lobby.Lobby" />
        <activity
            android:name=".src.start.Start"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>